@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
    --base-black: #000;
    --base-white: #ffff;
    --gray-300: #d0d5dd;
    --gray-true-25: #fcfcfc;
    --gray-true-50: #fafafa;
    --gray-true-200: #e5e5e5;
    --gray-true-400: #a3a3a3;
    --gray-true-600: #525252;
    --gray-true-700: #424242;
    --gray-true-800: #292929;
    --gray-true-900: #141414;
    --light-gray-light-gray-2: #dde2e4;
    --dark-gray-dark-gray-2: #252c32;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--gray-300);
}

a {
    color: inherit;
    text-decoration: none;
}
